In [77]:
import pandas as pd
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [78]:
mlb_file = "Resources/baseballdata.csv"
mlb_df = pd.read_csv(mlb_file)
mlb_df.head()

,id,Rk,Year,Tm,Lg,G,W,L,Ties,W.L.,...,R,RA,Attendance,BatAge,PAge,X.Bat,X.P,Top.Player,Managers,current
0,1,1,2016,Arizona Diamondbacks,NL West,162,69,93,0,0.426,...,752,890,2036216.0,26.7,26.4,50,29,J.Segura (5.7),C.Hale (69-93),Arizona Diamondbacks
1,2,2,2015,Arizona Diamondbacks,NL West,162,79,83,0,0.488,...,720,713,2080145.0,26.6,27.1,50,27,P.Goldschmidt (8.8),C.Hale (79-83),Arizona Diamondbacks
2,3,3,2014,Arizona Diamondbacks,NL West,162,64,98,0,0.395,...,615,742,2073730.0,27.6,28.0,52,25,P.Goldschmidt (4.5),K.Gibson (63-96) and A.Trammell (1-2),Arizona Diamondbacks
3,4,4,2013,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,685,695,2134895.0,28.1,27.6,44,23,P.Goldschmidt (7.1),K.Gibson (81-81),Arizona Diamondbacks
4,5,5,2012,Arizona Diamondbacks,NL West,162,81,81,0,0.500,...,734,688,2177617.0,28.3,27.4,48,23,A.Hill (5.0),K.Gibson (81-81),Arizona Diamondbacks

# Extract baseball CSV  DataFrame

In [79]:
# Create a filtered dataframe from specific columns
mlb_transformed= mlb_df[["id", "Tm", "Year", "Attendance"]].copy()

# Rename the column headers
mlb_transformed = mlb_transformed.rename(columns={"Tm": "team_name",
                                                          "Year": "year",
                                                          "Attendance": "attendance"})

# Clean the data by dropping duplicates and setting the index
#mlb_transformed.drop_duplicates("team_name", inplace=True)
#mlb_transformed.set_index("team_name", inplace=True)

mlb_transformed.head(1000)

       id             team_name  year  attendance
0       1  Arizona Diamondbacks  2016   2036216.0
1       2  Arizona Diamondbacks  2015   2080145.0
2       3  Arizona Diamondbacks  2014   2073730.0
3       4  Arizona Diamondbacks  2013   2134895.0
4       5  Arizona Diamondbacks  2012   2177617.0
..    ...                   ...   ...         ...
995   996        Detroit Tigers  1945   1280341.0
996   997        Detroit Tigers  1944    923176.0
997   998        Detroit Tigers  1943    606287.0
998   999        Detroit Tigers  1942    580087.0
999  1000        Detroit Tigers  1941    684915.0

[1000 rows x 4 columns]

In [80]:
mlb_2017_file = "Resources/mlb2017.csv"
mlb_2017_df = pd.read_csv(mlb_2017_file)
mlb_2017_df.head()

                    venue_name       city     name_display_long  year
0                  Chase Field    Phoenix  Arizona Diamondbacks  2017
1                SunTrust Park    Atlanta        Atlanta Braves  2017
2  Oriole Park at Camden Yards  Baltimore     Baltimore Orioles  2017
3                  Fenway Park     Boston        Boston Red Sox  2017
4                Wrigley Field    Chicago          Chicago Cubs  2017

In [81]:
# = [mlb_2017_df, mlb_2016_df] 

#mlb_api_tables = pd.concat(frames)
mlb_api_tables = mlb_2017_df

# Tansform mlb API

In [82]:
# Create a filtered dataframe from specific columns
mlb_api_transformed= mlb_api_tables[["name_display_long", "year", "venue_name", "city"]].copy()

# Rename the column headers
mlb_api_transformed = mlb_api_transformed.rename(columns={"name_display_long": "team_name",
                                                            "year": "year",
                                                            "city": "city",
                                                            "venue_name": "venue"})

# Clean the data by dropping duplicates and setting the index
#mlb_transformed.drop_duplicates("team_name", inplace=True)
#mlb_transformed.set_index("team_name", inplace=True)

mlb_api_transformed.head(1000)

,team_name,year,venue,city
0,Arizona Diamondbacks,2017,Chase Field,Phoenix
1,Atlanta Braves,2017,SunTrust Park,Atlanta
2,Baltimore Orioles,2017,Oriole Park at Camden Yards,Baltimore
3,Boston Red Sox,2017,Fenway Park,Boston
4,Chicago Cubs,2017,Wrigley Field,Chicago
5,Chicago White Sox,2017,Guaranteed Rate Field,Chicago
6,Cincinnati Reds,2017,Great American Ball Park,Cincinnati
7,Cleveland Indians,2017,Progressive Field,Cleveland
8,Colorado Rockies,2017,Coors Field,Denver
9,Detroit Tigers,2017,Comerica Park,Detroit
10,Houston Astros,2017,Minute Maid Park,Houston
11,Kansas City Royals,2017,Kauffman Stadium,Kansas City
12,Los Angeles Angels of Anaheim,2017,Angel Stadium of Anaheim,Anaheim
13,Los Angeles Dodgers,2017,Dodger Stadium,Los Angeles
14,Miami Marlins,2017,Marlins Park,Miami
15,Milwaukee Brewers,2017,Miller Park,Milwaukee
16,Minnesota Twins,2017,Target Field,Minneapolis
17,New York Mets,2017,Citi Field,New York
18,New York Yankees,2017,Yankee Stadium,Bronx
19,Oakland Athletics,2017,Oakland Coliseum,Oakland
20,Philadelphia Phillies,2017,Citizens Bank Park,Philadelphia
21,Pittsburgh Pirates,2017,PNC Park,Pittsburgh
22,San Diego Padres,2017,Petco Park,San Diego
23,San Francisco Giants,2017,AT&T Park,San Francisco
24,Seattle Mariners,2017,Safeco Field,Seattle
25,St. Louis Cardinals,2017,Busch Stadium,St. Louis
26,Tampa Bay Rays,2017,Tropicana Field,Tampa Bay
27,Texas Rangers,2017,Globe Life Park in Arlington,Arlington
28,Toronto Blue Jays,2017,Rogers Centre,Toronto
29,Washington Nationals,2017,Nationals Park,Washington

In [83]:
connection_string = "postgres:Impressions1!@localhost:5432/baseball_db"
engine = create_engine(f'postgresql://{connection_string}')

In [84]:
engine.table_names()

['kaggle_csv', 'mlb_api']

In [85]:
mlb_transformed.to_sql(name='kaggle_csv', con=engine, if_exists='append', index=False)

In [86]:
mlb_api_transformed.to_sql(name='mlb_api', con=engine, if_exists='append', index=False)